<p>
  grid works!
</p>

<form>
  <input #newXCoord>
  <input #newYCoord>
  <button (click)="generateBoard(newXCoord.value,newYCoord.value); newXCoord.value=''; newYCoord.value='';">Generate board</button>
</form>

<div class="container">
  <span *ngFor="let tile of board?.tiles">
    <span *ngIf="tile.coordinate[1]===0">
      [{{tile.coordinate}}]
    </span>
  </span>
</div>

<!-- <div class="container">
  <span *ngFor="let tile of board?.tiles">
    <span ng-repeat="">
    </span>
  </span>

</div> -->
