.b {
  background-image: url('../../img/happyface.png');
  background-size: cover;
  border: 1px;
  margin: 5px;
  background-size: cover;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.bomb {
  background-image: url('../../img/bomb.png');
  background-size: cover;
  border: 1px;
  margin: 5px;
  background-size: cover;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.box {
  display:inline-block;
}

.breakBox {
  float: left;
}

.boxContainer {
  background-color: blue;
  
}
