<p>
  grid works!
</p>

<form>
  x-tiles: <input #newXCoord><br>
  y-tiles: <input #newYCoord><br>
  <button (click)=
  "generateBoard(newXCoord.value,newYCoord.value);
   generateBomb(0,(newXCoord.value*newYCoord.value),((newXCoord.value*newYCoord.value)/4));
   newXCoord.value='';
   newYCoord.value=''">Generate board</button>
</form>

<!-- <div class="container" style="width: (parseint(newYCoord.value) * 50) px"> -->

<span *ngFor="let tile of board?.tiles">
  <div *ngIf="tile.coordinate[1] == 0; then breakBox"></div>
  <div *ngIf="tile.coordinate[1] != 0; then box"></div>

  <ng-template #box>
    <div [class]="this.display(tile)">
    </div>
  </ng-template>

  <ng-template #breakBox>
    <div class="boxContainer">
      <div [class]="this.display(tile)">
      </div>
    </div>
  </ng-template>


</span>
